[Unit]
Description=ZMQ Camera Service
After=network.target

[Service]
Type=simple
User=dw00621
WorkingDirectory=/home/dw00621/Documents/NickButts
ExecStart=/usr/bin/python3 /home/dw00621/Documents/NickButts/zmqcam.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

